<div class="container-fluid d-flex flex-column align-items-center my-4 py-4">
    <div class="raw d-flex justify-content-center mb-4">
        <div class="col col-md-9 col-lg-7 col-xl-6">
            <div class="card mb-3 overflow-hidden">
                <div class="row g-0">
                    <div class="col-sm-4">
                        <img src={{image01}} class="img-fluid" alt="...">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title font-monospace">Gestione sus proyectos</h5>
                            <p class="card-text">Establecemos la correcta organización y división de tareas que conforman un
                                proyecto. Sin esta planificación se podría correr el riesgo de fracasar y es por esto, que es
                                indispensable aplicar medidas que ayuden a realizar el trabajo de forma correcta.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="raw d-flex justify-content-center mb-4">
        <div class="col col-md-9 col-lg-7 col-xl-6">
            <div class="card mb-3 overflow-hidden">
                <div class="row g-0">
                    <div class="col-sm-4">
                        <img src={{image02}} class="img-fluid" alt="...">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title font-monospace">Asigne tareas</h5>
                            <p class="card-text">Establece procesos, gestiona grupos de trabajo, asigna tareas y determinar los
                                recursos con los que se cuenta en cada etapa y las fechas clave son factores esenciales en la
                                gestión de proyectos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="raw d-flex justify-content-center">
        <div class="col col-md-9 col-lg-7 col-xl-6">
            <div class="card mb-3 overflow-hidden">
                <div class="row g-0">
                    <div class="col-sm-4">
                        <img src={{image03}} class="img-fluid" alt="...">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title font-monospace">Cree y actualice</h5>
                            <p class="card-text">Establece procesos, gestiona grupos de trabajo, asigna tareas y determinar los
                                recursos con los que se cuenta en cada etapa y las fechas clave son factores esenciales en la
                                gestión de proyectos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>