<div class="container">
    <div class="container2">
        <div class="card mb-3">
            <img class="imagenp" src="{{imagen3}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestiona tus Proyectos</h5>
                <p class="card-text">Establecemos la correcta organización y división de tareas que conforman un
                    proyecto. Sin esta planificación se podría correr el riesgo de fracasar y es por esto, que es
                    indispensable aplicar medidas que ayuden a realizar el trabajo de forma correcta. </p>
            </div>
        </div>

        <div class="card mb-3">
            <img class="imagenp" src="{{imagen4}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Asigna Tareas</h5>
                <p class="card-text">Establece procesos, gestiona grupos de trabajo, asigna tareas y determinar los
                    recursos con los que se cuenta en cada etapa y las fechas clave son factores esenciales en la
                    gestión de proyectos</p>
            </div>
        </div>

        <div class="card mb-3">
            <img class="imagenp" src="{{imagen5}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Crea y Modifica</h5>
                <p class="card-text">Crea nuevas tareas, proyectos, actividades o modificalas, cambia los tiempos y
                    asigna nuevos.</p>
            </div>
        </div>
    </div>
</div>
