<div class="container-fluid d-flex flex-column p-0 m-0 min-vh-100">
    <app-menu></app-menu>
    <app-notification></app-notification>
<div class="container">
    <div class="text-third">
        <section data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" class="p-3 my-5">
            <h2 class="font-family-DeliciousHandrawn text-center mb-5">Acerca De Nosotros</h2>
            <div class="row align-items-center">
                <div class="col-12 col-sm-12 col-md-6">
                    <p class="font-size-18">
                        ¡Hola! Somos un grupo de programadores junior que hemos decidido unir nuestras habilidades para
                        ofrecer servicios de gestión de proyectos a personas y empresas de todo el mundo.
                        <br><br>
                        Programa tus equipos en distintos proyectos teniendo en cuenta las vacaciones de cada empleado.
                        Planea con anticipación los próximos proyectos con pronósticos basados en datos de proyectos
                        comparables y estima fechas límite con más precisión. Compara pronósticos con hojas de horas
                        reales para aumentar la rentabilidad.
                        <br><br>
                        Simplifica tus procesos y mejora la colaboración de los empleados.
                        Desglosa tu proyecto en tareas pequeñas y asígnalas a tu equipo para mejorar el trabajo en
                        equipo.
                        Crea etapas personalizadas para cada proyecto para simplificar el resumen de tu flujo de trabajo
                        e incrementar la eficiencia general del equipo.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <img src="../../../assets/images/imagen6.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>

</div>
