<div class="container-fluid d-flex flex-column p-0 m-0 min-vh-100">
  <app-menu></app-menu>
  <app-notification></app-notification>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-purple text-center">
          Nombre Proyecto: {{ this.detalleProyecto.nombreProyecto }}
        </h2>
      </div>
      <div class="col">
        <p class="">
          <span class="text-purple">objetivo:</span>
          <br>
          {{ this.detalleProyecto.objetivo }}
        </p>
      </div>
      <div class="col">
        <p class="">
          <span class="text-purple">descripción:</span>
          <br>
          {{ this.detalleProyecto.descripcion }}
        </p>
      </div>
      <div class="col">
        <p class="">
          <span class="text-purple">Preupuesto:</span>
          <br>
          {{ this.detalleProyecto.prosupuesto }}
        </p>
      </div>
      <div class="col">
        <p class="">
          <span class="text-purple">Fecha Terminación</span>
          <br>
          {{ this.detalleProyecto.fechaEntrega }}
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="text-purple text-center">Tareas</h2>
    <div *ngFor="let tarea of tareasInfo">
      <p>
        <span class="text-purple">Titulo</span>
        {{ tarea.titulo }}
      </p>
      <p>
        <span class="text-purple">Descripcion</span>
        {{ tarea.descripcion }}
      </p>
      <p>
        <span class="text-purple">Fecha</span>
        {{ tarea.fecha }}
      </p>
      <p>
        <span class="text-purple">Fecha Final</span>
        {{ tarea.fechaFinal }}
      </p>
      <p>
        <span class="text-purple">Estado</span>
        {{ tarea.estado }}
      </p>
      <p>
        <span class="text-purple">Actividades</span>
        {{ tarea.actividades }}
      </p>
      <p>
        <span class="text-purple">Comentarios</span>
        {{ tarea.comentarios }}
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="text-purple text-center">miembros</h2>
      <div  class="col" *ngFor="let miembro of miembrosInfo">
        <p>
          <span class="text-purple">Nombre</span>
          {{ miembro.nombre }}
        </p>
        <p>
          <span class="text-purple">Apellido</span>
          {{ miembro.apellido }}
        </p>
        <p>
          <span class="text-purple">Email</span>
          {{ miembro.email }}
        </p>
        <p>
          <span class="text-purple">Télefono</span>
          {{ miembro.telefono }}
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

