<app-menu></app-menu>
<div class="container w-50 bg-warning bg-opacity-25 p-5 rounded-4 shadow my-5">
    <h3>Regístrate</h3>
    <div class="form-floating mb-3">
        <input type="nombre" class="form-control" id="floatingInput" placeholder="Nombre" [(ngModel)]="nombre">
        <label for="floatingInput">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password">
        <label for="floatingPassword">Password</label>
    </div>
    <!--
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Confirmar Password</label>
    </div>
    -->
    <div class="mt-4 d-flex justify-content-md-end">
        <a type="button" class="btn btn-primary" routerLink="/conectate">Ya tengo una cuenta</a>
        <button type="button" class="btn btn-primary ms-4" (click)="Guardar()">Registrar</button>
    </div>
</div>

<app-footer></app-footer>
