<nav class="navbar navbar-expand-sm navbar-light bg-info">
    <div class="container-fluid px-0">
        <a class="navbar-brand me-2" href="#">ProjectManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
                <li class="nav-item ms-auto fw-bold">
                    <a class="nav-link" href="#">Conéctate</a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link" href="#">Regístrate</a>
                </li>
            </ul>
            <!-- 
            <form class="d-flex">
                <div class="btn-group m-2 gap-1">
                    <button class="btn btn-info" type="submit">Iniciar Sección</button>
                    <button class="btn btn-info" type="submit">Registrate</button>
                </div>
            </form>
            -->
        </div>
    </div>
</nav>