<div class="container w-75 bg-warning bg-opacity-25 p-4 rounded-4 shadow my-4">
    <h4 class="m-4">Llena los datos para recibir información</h4>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
        <label for="floatingInputEmail">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInputNombre" placeholder="nombre">
        <label for="floatingInputNombre">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInputApellido" placeholder="apellido">
        <label for="floatingInputApellido">Apellido</label>
    </div>
    <div class="form-group textarea">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Escribe tus inquietudes..."></textarea>
    </div>
    <div class="mt-4 d-flex justify-content-end">
        <button type="button" class="btn btn-primary">Enviar</button>
    </div>
    
</div>
