<button type="button" class="btn btn-outline-purple font-monospace" data-bs-toggle="modal" data-bs-target="#tareaModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    Añadir tareas
</button>
<!-- Modal para Tareas-->
<div class="modal fade" id="tareaModal" tabindex="-1" aria-labelledby="tareaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tareaModalLabel">Crea tu tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="search" class="form-control" id="floatingInputEncargado" placeholder="Buscar el encargado" aria-label="Search">
                    <label for="floatingInputEncargado">Buscar el encargado</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputNombre" placeholder="Titulo de la tarea">
                    <label for="floatingInputNombre">Titulo Tarea</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputDescripcion" placeholder="Descripcion">
                    <label for="floatingInputDescripcion">Descripcion</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputDuracion" placeholder="Duracion">
                    <label for="floatingInputDuracion">Duracion</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInputFechaEntrega" placeholder="Fecha de entrega">
                    <label for="floatingInputFechaEntrega">Fecha de entrega</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
