<button type="button" class="btn btn-outline-purple font-monospace w-100" data-bs-toggle="modal" data-bs-target="#tareaModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    Añadir tareas
</button>
<!-- Modal para Tareas-->
<div class="modal fade" id="tareaModal" tabindex="-1" aria-labelledby="tareaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tareaModalLabel">Crea tu tarea</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="search" class="form-control" id="floatingSearchEncargado" list="datalistOptionsEncargado" placeholder="Buscar Encargado" autocomplete="off" [(ngModel)]="busquedaEncargado" (ngModelChange)="buscarEncargado()">
                    <label for="floatingSearchEncargado">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                        Buscar encargado
                    </label>
                    <datalist id="datalistOptionsEncargado" >
                        <option *ngFor="let user of resultadoBusquedaEncargado" value={{user.alias}}>
                    </datalist>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputTarea" placeholder="Titulo de la tarea" autocomplete="off" [(ngModel)]="tituloTarea">
                    <label for="floatingInputTarea">Titulo Tarea</label>
                </div>
                <div class="form-floating textarea mb-3 h-auto">
                    <textarea class="form-control" id="floatingDescripcionTarea" rows="5" placeholder="Descripcion..." 
                            autocomplete="off" [(ngModel)]="descripcionTarea"></textarea>
                    <label for="floatingDescripcionTarea">Descripcion</label>
                </div>
                <div class="">
                    <div class="d-flex justify-content-between align-items-center mb-3 ps-3">
                        <h6>Actividades : </h6>
                        <button class="btn btn-purple d-flex align-items-center" (click)="crearActividades()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                        </button>
                    </div>
                    <!--
                    <button (click)="consoleActividades()">console.log(actividades)</button>
                    -->
                    <div id="actividadesContainer" class=" mb-3" >
                        <div class="input-group mb-3" *ngFor="let acto of actividades">
                            <input type="text" class="form-control" id="actividades_{{actividades.indexOf(acto)}}" [(ngModel)]="acto.actividad" placeholder="Actididad..." >
                            <span class="input-group-text">
                                <button type="button" class=" btn-close ms-2" aria-label="Close" (click)="quitarActividad(actividades.indexOf(acto))"></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInputFechaInicio" placeholder="Fecha de inicio" autocomplete="off" [(ngModel)]="fechaInicioTarea">
                    <label for="floatingInputFechaInicio">Fecha de inicio</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="floatingInputFechaEntrega" placeholder="Fecha de entrega" autocomplete="off" [(ngModel)]="fechaEntregaTarea">
                    <label for="floatingInputFechaEntrega">Fecha de entrega</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-purple" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-purple" (click)="crearTarea()">Añadir</button>
            </div>
        </div>
    </div>
</div>
