<div class="container-fluid d-flex flex-column p-0 m-0 min-vh-100">
    <app-menu></app-menu>
    <app-notification></app-notification>
    <div class="container-fluid d-flex flex-grow-1 p-0">
        <div class="w-100 flex-shrink-1 p-2">
            <button type="button" class="btn btn-outline-purple font-monospace align-self-start" routerLink="/dashboard">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
                Volver al panel
            </button>
            <!--
            <button (click)="consoleTODO()">Console Variable</button>-->
            <h3 class="text-purple text-center">Informaciones generales</h3>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingNombreProyecto" placeholder="Nombre del proyecto" [(ngModel)]="nombreProyecto">
                <label for="floatingNombreProyecto">Nombre del proyecto</label>
            </div>
            <div class="form-floating textarea mb-3 h-auto">
                <textarea class="form-control" id="floatingDescripcion" rows="5"
                        placeholder="Descripcion..." [(ngModel)]="descripcion"></textarea>
                <label for="floatingDescripcion">Descripcion</label>
            </div>
            <div class="form-floating textarea mb-3 h-auto">
                <textarea class="form-control" id="floatingObjetivos" rows="5"
                        placeholder="Objetivos..." [(ngModel)]="objetivo"></textarea>
                <label for="floatingObjetivo">Objetivos</label>
            </div>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="floatingDateEntrega" [(ngModel)]="fechaEntrega">
                <label for="floatingInputAsunto">Fecha de entrega del proyecto</label>
            </div>
            <div class="input-group form-floating mb-3"><span class="input-group-text">$</span>
                <input type="number" class="form-control rounded-end" id="floatingProsupuesto" placeholder="Prosupuesto" [(ngModel)]="prosupuesto">
                <label class="ms-5" for="floatingProsupuesto">Prosupuesto</label>
            </div>
            <h3 class="text-purple text-center">Miembros</h3>
            <!---->
            <div class="row px-3 d-flex flex-wrap" *ngIf="miembros.length > 0">
                <hr>
                <div class="p-2 me-2 mb-2 text-light bg-purple w-auto rounded" *ngFor="let miembro of miembrosInfo">
                    {{miembro.alias}}
                <button type="button" class="btn-close btn-close-white ms-2" aria-label="Close" (click)="QuitarMiembros(miembro._id)"></button>
                </div>
                <hr>
            </div>
            <h3 class="text-purple text-center">Actividades</h3>
            <div class="row px-3 d-flex flex-wrap pb-3" *ngIf="tareas.length > 0">
                <div *ngFor="let tarea of tareasInfo" class="col">
                    <div class="card bg-purple bg-opacity-25 border border-purple">
                    <div class="card-body">
                        <div class="w-100" *ngFor="let miembro of miembrosInfo">
                            <div class="form-floating mb-3" *ngIf="tarea.keyEncargado == miembro._id">
                                <input type="search" class="form-control" id="floatingSearchEncargado" list="datalistOptionsEncargado" placeholder="Buscar Encargado" autocomplete="off" [(ngModel)]="miembro.alias" (ngModelChange)="CambiarEncargado()">
                                <label for="floatingSearchEncargado">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                    Buscar encargado
                                </label>
                                <datalist id="datalistOptionsEncargado" >
                                    <option *ngFor="let user of resultadoBusquedaEncargado" value={{user.alias}}>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputTarea" placeholder="Titulo de la tarea" autocomplete="off" [(ngModel)]="tarea.titulo">
                            <label for="floatingInputTarea">Titulo Tarea</label>
                        </div>
                        <div class="form-floating textarea mb-3 h-auto">
                            <textarea class="form-control" id="floatingDescripcionTarea" rows="5" placeholder="Descripcion..." 
                                    autocomplete="off" [(ngModel)]="tarea.descripcion"></textarea>
                            <label for="floatingDescripcionTarea">Descripcion</label>
                        </div>
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <p class="m-0">Actividades :</p>
                            <span class="text-purple btn" (click)="NuevaActividad()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                                </svg>
                            </span>
                        </div>
                        <div *ngFor="let actividad of tarea.actividades">
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value={{actividad.finalisada}} aria-label="Checkbox for following text input">
                                </div>
                                <input type="text" class="form-control" id="actividadesInput_{{actividad.id}}" [(ngModel)]="actividad.actividad" placeholder="Actididad..." >
                                <span class="input-group-text">
                                    <button type="button" class=" btn-close ms-2" aria-label="Close" (click)="QuitarActividad(tarea.actividades.indexOf(actividad),tarea._id)"></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="floatingInputFechaInicio" placeholder="Fecha de inicio" autocomplete="off" [(ngModel)]="tarea.fechaInicio">
                            <label for="floatingInputFechaInicio">Fecha de inicio</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="floatingInputFechaEntrega" placeholder="Fecha de entrega" autocomplete="off" [(ngModel)]="tarea.fechaFinal">
                            <label for="floatingInputFechaEntrega">Fecha de entrega</label>
                        </div>
                    </div>
                    <div class="card-footer d-flex bg-light justify-content-end">
                        <button type="button" class="btn btn-outline-danger me-2" (click)="QuieroEliminarTarea()">Eliminar</button>
                        <button type="button" class="btn btn-purple" (click)="ActualizarTarea()">Actualizar</button>
                    </div>
                </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <app-footer></app-footer>
</div>


