<div class="container-fluid d-flex flex-column p-0 m-0 min-vh-100">
    <app-menu></app-menu>
    <app-notification></app-notification>
    <!--<app-test-session></app-test-session>-->
    <div class="container-fluid d-flex justify-content-center flex-grow-1 my-4 py-4">
        <div class="raw w-100 align-items-center mb-5 d-flex justify-content-center">
            <div class="col col-md-9 col-lg-7 col-xl-6">
                <div class="card border-purple-dark shadow">
                    <div class="card-body bg-purple bg-opacity-10 px-5 py-4">
                        <h3 class="card-title mb-3 font-monospace">Regístrate</h3>
                        <div class="form-floating mb-3">
                          <input type="nombre" class="form-control" id="floatingInput" placeholder="Nombre" [(ngModel)]="nombre"
                          [ngClass]="{
                          'is-invalid':this.nombreValidate == 'is-invalid',
                          'is-valid':this.nombreValidate == 'is-valid'
                          }">
                            <label for="floatingInput">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email"
                            [ngClass]="{
                            'is-invalid':this.emailValidate == 'is-invalid',
                            'is-valid':this.emailValidate == 'is-valid'
                            }">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password"
                            [ngClass]="{
                            'is-invalid':this.passwordValidate == 'is-invalid',
                            'is-valid':this.passwordValidate == 'is-valid'
                          }">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="mt-3 d-flex justify-content-end">
                            <a type="button" class="btn btn-outline-purple font-monospace my-3 py-2" routerLink="/login">Ya tengo una cuenta</a>
                            <button type="button" class="btn btn-purple ms-4 font-monospace my-3 py-2" (click)="Guardar()">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

