<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Tareas</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Entrega</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarea of tareas">
            <th scope="row">{{tarea.titulo}}</th>
            <td class="text-truncate">{{CortarPalabra(tarea.keyProyecto,8)}}</td>
            <td>{{tarea.estado}}</td>
            <td>{{tarea.fechaFinal}}</td>
            <td>
              <button type="button" class="btn btn-outline-purple align-items-center me-2" (click)="EditarUnaTarea(tarea._id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill me-2" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
                Abrir
              </button>
            </td>
          </tr>
        </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="leerTareaModal" tabindex="-1" aria-labelledby="leerTareaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="leerTareaModalLabel">{{titulo}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column w-100">
          <div class="input-group mb-3">
            <div class="form-group textarea w-100">
              <textarea class="form-control" id="formControlDescripcion" [(ngModel)]="descripcion"
                placeholder="Descripcion..." readonly>{{descripcion}}</textarea>
            </div>
          </div>
          <div class="form-check mb-3" *ngFor="let actividad of actividades">
            <input class="form-check-input" type="checkbox" value="{{actividad.finalisada}}" id="flexCheck{{actividad.id}}">
            <label class="form-check-label" for="flexCheck{{actividad.id}}">
              {{actividad.actividad}}
            </label>
          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInputFechaInicio" placeholder="Fecha de inicio" autocomplete="off" [(ngModel)]="fechaInicio">
            <label for="floatingInputFechaInicio">Fecha de inicio</label>
          </div>
          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="floatingInputFechaEntrega" placeholder="Fecha de entrega" autocomplete="off" [(ngModel)]="fechaFinal">
            <label for="floatingInputFechaEntrega">Fecha de entrega</label>
          </div>
          <div class="w-100 d-flex justify-content-between mb-3">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="estado" id="estado" value="Nuevo" [(ngModel)]="estado">
              <label class="form-check-label" for="estado">
                Nuevo
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="estado" id="estado2" value="Pendiente" [(ngModel)]="estado">
              <label class="form-check-label" for="estado2">
                Pendiente
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="estado" id="estado3" value="Resuelto" [(ngModel)]="estado">
              <label class="form-check-label" for="estado3">
                Resuelto
              </label>
            </div>
          </div>
          <div class="input-group mb-3" *ngFor="let com of comentarios">
            <div class="form-group textarea w-100">
              <textarea class="form-control" id="formControlComentarios{{com.id}}"
                placeholder="{{com.autor}}" readonly>{{com.comentario}}</textarea>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="form-group textarea w-100">
              <textarea class="form-control" id="formControlComentariosNuevo" [(ngModel)]="nuevoComentario"
                placeholder="Comentario..." readonly></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="ActualizarTarea()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
          </svg>
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
