<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#">ProjectManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="../home/home.component.html">Inicio<span class="sr-only"></span></a>
            <a class="nav-link" href="#">Contactanos</a>
            <a class="nav-link" href="../nosotros/nosotros.component.html">Nosotros</a>
            <a class="nav-link" href="#">Iniciar Seccion</a>
            <a class="nav-link" href="#">Registrate</a>
            
        </div>
    </div>
</nav>


