<div class="mb-3">
    <div>{{mensaje}}</div>
    <label for="formFile" class="form-label">{{nombrearchivo}}</label>
    <input class="form-control" type="file" id="formFile" (change)="selectFile($event)" value="upload">
    <div class="d-flex">
        <button type="button" class="btn btn-outline-purple align-items-center me-4" (click)="upload()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
              </svg>
            Subir Archivo
        </button>
        <div class="d-flex align-items-center flex-grow-1">
        <div class="progress-bar bg-purple progress-bar-info progress-bar-striped rounded" 
        role="progressbar" 
        attr.aria-valuenow="{{progress}}"
        aria-valuemin="0" 
        aria-valuemax="100" 
        [ngStyle]="{width: progress + '%'}">
            <div class="progress-bar">     
            {{ progress }}%
        </div>
    </div>
    </div>
</div>